.career-logo-box {
  background-image: url("../../assets/images/Career/CAREERLOGOIMG.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 80px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .career-text {
    margin-left: 300px;
    padding: 0 30px;

    span,
    h2,
    li,
    p {
      color: #fff !important;
      font-size: 20px;
    }
  }
}

.box-career {
  h2 {
    text-align: center;
    font-weight: bold;
  }

  .connect-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 80px 0;

    > div {
      display: flex;
      align-items: center;
      gap: 20px;

      > div {
        img {
          width: 30px;
        }
      }

      span {
        color: var(--brend-color) !important;
        font-weight: bold;
      }

      p {
        font-weight: bold;
      }

      > img {
        width: 120px;
      }
    }
  }
}

@media (max-width: 850px) {
  .career-logo-box {
    background-position: right;
  }

  .career-text {
    margin-left: 0 !important;
  }
  .connect-team {
    flex-direction: column;
    text-align: center;

    > div {
      flex-direction: column;
    }
  }
}
