.box-career {
  .connect-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin: 80px 0;

    > div {
      display: flex;
      align-items: center;
      gap: 20px;

      > div {
        a img {
          width: 30px;
        }
      }

      span {
        color: var(--brend-color) !important;
        font-weight: normal;
      }

      p {
        font-weight: normal;
      }

      a img {
        width: 170px;
      }
    }
  }
}

.faqs-container {

}

.accordion-row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
  width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;

  .career-img img {
    width: 600px;
  }

  @media (max-width: 950px) {
    grid-template-columns: auto;
    gap: 0;

    .accordion {
      height: auto;
    }
  }

  @media (max-width: 1240px) {
    width: 100%;

    .career-img img {
      width: 100%;
    }
  }
}

@media (max-width: 850px) {
  .connect-team {
    flex-direction: column;
    text-align: center;

    > div {
      flex-direction: column;
    }
  }
}
