form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 80px 0;

  div {
    width: 100%;
  }

  input,
  textarea {
    padding: 10px;
    font-size: 18px;
    display: block;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    width: 100%;
    margin-bottom: 15px;
    resize: none;
    outline: none;

    &::placeholder {
      font-size: 18px;
    }
  }

  .btn {
    background: var(--brend-color);
    color: var(--light-blue-color) !important;
    padding: 15px 50px;
    font-size: 15px;
    border: 1px solid var(--brend-color);
    border-radius: 100px;
    display: block;
    cursor: pointer;

    &:hover {
      background: var(--brend-color);
    }

    &:active {
      box-shadow: 10px 5px 10px var(--brend-color);
    }
  }

  label {
    display: block;
    font-size: 16px;

    .star {
      color: #ff0000 !important;
    }
  }
}

.icon-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 80px 0;
  gap: 30px;

  img {
    width: 200px;
  }

  p {
    margin-top: 25px;
  }
}

.info-send {
  color: var(--brend-color) !important;
}

@media (max-width: 545px) {
  .icon-contact {
    flex-direction: column;

    img {
      width: 200px !important;
    }
  }
}

@media (max-width: 670px) {
  form {
    gap: 0;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .icon-contact {
    img {
      width: 100px;
    }
  }
}
