form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 80px 0;
}
form div {
  width: 100%;
}
input,
textarea {
  padding: 10px;
  font-size: 16px;
  display: block;
  border-radius: 10px;
  border: 1px solid #bebebe;
  width: 100%;
  margin-bottom: 17px;
  resize: none;
  outline: none;
}
.label-policy {
  width: max-content;
  display: flex;
  align-items: center;

  p {
    font-size: 13px;
  }
}

#policy {
  width: max-content;
  margin-left: 5px;
}

.error {
  border: 1px solid red;
  color: red;
  display: flex;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  color: #b3b3b3;
}
.btn {
  background: var(--brend-color);
  color: var(--light-blue-color) !important;
  padding: 10px 50px;
  font-size: 15px;
  border: 1px solid var(--brend-color);
  border-radius: 100px;
  display: block;
  cursor: pointer;
}
.btn:hover {
  background: var(--brend-color);
}
.btn:active {
  box-shadow: 10px 5px 10px var(--brend-color);
}
label {
  display: block;
  font-size: 14px;
}
label .star {
  color: #f00 !important;
}
.icon-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 80px 0;
  gap: 150px;
}
.icon-contact img {
  width: 180px;
  transition: .6s;
}
.icon-contact img:hover {
  transform: scale(1.07);
}
.icon-contact p {
  margin-top: 25px;
  font-size: 20px;
}
.info-send {
  color: var(--brend-color) !important;
}
@media (max-width: 545px) {
  .icon-contact {
    flex-direction: column;
    gap: 30px;
  }
  .icon-contact img {
    width: 200px !important;
  }
}
@media (max-width: 670px) {
  form {
    gap: 0;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .icon-contact img {
    width: 100px;
  }
}
.loading-spiner {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 99999999999999;
  top: 0;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 100%;
}
.loading-spiner.active {
  display: none;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 3px 0 0 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.message-box {
  background: red;
}

button:disabled,
button[disabled] {
  background-color: #b0b0b0 !important;
  color: #666666;
}




.react-calendar {
  border: none !important;
  width: 100% !important;
}