.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 100px;
}

.slider-images {
  position: relative;
  width: 50%;
  height: 400px;

  @media (max-width: 780px) {
    width: 100%;
  }
}

.slider-image {
  position: absolute;
  width: 80%;
  height: 350px;
  object-fit: cover;
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0.5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  transform-origin: center center;

  @media (max-width: 780px) {
    width: 100%;
  }
}

.slider-image.active {
  opacity: 1;
  transform: translate(0, 0) rotate(0deg) !important;
  z-index: 9;
}

.slider-image:not(.active) {
  transform: translateX(-10px) rotate(0deg);
  z-index: 1;
}

.slider-text {
  width: 50%;
  padding: 20px;
}

.text {
  display: none;
}

.text.active {
  display: block;
  font-size: 24px;
}

.slider-division {
  @media (max-width: 780px) {
    flex-direction: column;

    .slider-text {
      width: 100%;
    }
  }
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: none;

  button {
    background-color: var(--light-blue-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex !important;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }

  .slider-dots {
    display: flex;
    gap: 10px;
    margin: 0 15px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dot.active {
    background: var(--brend-color);
  }
}

.initiative-logo {
  display: grid;
  gap: 30px;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  img {
    width: 300px;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.ref-circle {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  div {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .ref-img {
      width: 190px;
      height: 190px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      span {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 30px;
      }
    }

    :hover {
      transform: scale(1.1);

      span {
        background: var(--brend-color);
        transform: scale(1);
      }
    }

    @media (max-width: 480px) {
      width: 160px;
      height: 160px;

      .ref-img {
        width: 140px;
        height: 140px;

        span {
          font-size: 16px;
        }
      }
    }
  }

  :nth-child(1) .ref-img {
    background-image: linear-gradient(
        rgba(9, 9, 227, 0.4),
        rgba(9, 9, 227, 0.4)
      ),
      url('../images/Division/Pharma.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../images/Division/Pharma.png');
    }
  }

  :nth-child(2) .ref-img {
    background-image: linear-gradient(
        rgba(9, 9, 227, 0.4),
        rgba(9, 9, 227, 0.4)
      ),
      url('../images/Division/Food.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../images/Division/Food.png');
    }
  }

  :nth-child(3) .ref-img {
    background-image: linear-gradient(
        rgba(9, 9, 227, 0.4),
        rgba(9, 9, 227, 0.4)
      ),
      url('../images/Division/Chemicals.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../images/Division/Chemicals.png');
    }
  }

  :nth-child(4) .ref-img {
    background-image: linear-gradient(
        rgba(9, 9, 227, 0.4),
        rgba(9, 9, 227, 0.4)
      ),
      url('../images/Division/Electronics.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../images/Division/Electronics.png');
    }
  }

  :nth-child(5) .ref-img {
    background-image: linear-gradient(
        rgba(9, 9, 227, 0.4),
        rgba(9, 9, 227, 0.4)
      ),
      url('../images/Division/Energy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../images/Division/Energy.png');
    }
  }

  :nth-child(6) .ref-img {
    background-image: linear-gradient(
        rgba(9, 9, 227, 0.4),
        rgba(9, 9, 227, 0.4)
      ),
      url('../images/Division/Oil.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url('../images/Division/Oil.png');
    }
  }
}
