@font-face {
  font-family: "Revive80Phatt";
  src: url('../font/Revive80Phatt.ttf');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../font/Montserrat.ttf');
  font-display: swap;
}
