@font-face {
  font-family: "Neue Einstellung";
  font-weight: normal;
  src: url('../font/NeueEinstellung-Normal.otf');
  font-display: swap;
}

@font-face {
  font-family: "Neue Einstellung";
  font-weight: bold;
  src: url('../font/NeueEinstellungBold.ttf');
  font-display: swap;
}
