footer {
  margin-top: 80px;
}
.footer-container {
  background: var(--brend-color);
  color: #fff;
  padding: 50px 10px 0;

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 12px;

    a {
      color: inherit;
    }
  }
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;

  > div {
    padding: 20px;

    p {
      margin-top: 0;
      font-size: 22px;
      color: inherit !important;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.internet,
.internet-mob {
  div {
    display: flex;
    gap: 10px;
  }

  div a img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}

@media (max-width: 1600px) {
  .footer-box {
    width: 100%;
  }
}

.tip {
  position: relative;
  display: inline-block;
}

.tip .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: var(--light-blue-color);
  color: #000;
  text-align: center;
  border-radius: 30px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  font-size: 11px;
  left: 50%;
  margin-left: -50px;
  transition: opacity 0.3s;
}

.tip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#language-select {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.change-leng {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 15px;
  margin-top: 15px;
  background: transparent;
  color: #fff;
}
