.header-box {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;

  .header {
    width: 100%;
    background: var(--brend-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .header.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .header.hidden {
    opacity: 0;
    transform: translateY(-500px);
    transition: opacity 0.3s ease, transform 0.3s ease; /* Dodatna tranzicija za .hidden */
  }

  .header-links {
    display: flex;
    justify-content: space-between;
    padding: 0px 23px;
    width: 2000px;

    p {
      text-decoration: none !important;
    }

    a,
    p {
      color: #fff !important;
      text-decoration: none;
      margin-left: 40px;
      font-weight: 500;
      font-size: 13px;
      margin-bottom: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .lng {
      display: inline-flex;
      align-items: center;

      .icon-lng {
        font-size: 15px;
        margin-right: 5px;
      }
    }
  }
}

.header-box.scrolled {
  background: var(--brend-color) !important;
}

@media (max-width: 1600px) {
  .header-box {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .header-links {
    display: flex !important;
  }

  .header-box {
    &.hideNav {
      transform: translateY(-50%);
    }
    &.showNav {
      transform: translateY(0);
    }
  }
}

@media (max-width: 1300px) {
  .header {
    display: none !important;
  }
}
