.our-home {
  text-align: center;
  p {
    font-size: 20px;
  }

  > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 80px;

    div {
      width: 250px;
      img {
        width: 200px;
      }
      > p {
        margin-top: 15px;
      }

      :nth-child(3) {
        font-size: 15px;
      }
    }

    @media (max-width: 600px) {
      justify-content: center;
    }
  }
}

.facts-box {
  width: 100%;
  background: var(--brend-color);
  padding: 20px 0;
  margin-top: 80px;

  p {
    font-size: 20px;
  }

  .facts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    h2,
    p {
      color: var(--light-blue-color) !important;
      padding-left: 0 !important;
      margin-bottom: 2rem;
    }

    a {
      background: var(--light-blue-color);
      text-decoration: none;
      color: var(--brend-color);
      padding: 15px 50px;
      border-radius: 100px;
    }

    :nth-child(1) {
      width: 700px;
      padding: 15px;
    }

    :nth-child(2) img {
      width: 300px;
    }
  }

  @media (max-width: 720px) {
    .facts {
      :nth-child(1) {
        width: 100%;
      }

      :nth-child(2) img {
        width: 60%;
      }
    }
  }
}

.storyline {
  margin: 80px auto;
  p {
    text-align: center;
    font-size: 20px;
  }

  > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    div {
      width: 200px;

      .logos {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-bottom: 30px;

        :nth-child(1) {
          width: 100%;
        }

        :nth-child(2) {
          width: 40px;
        }
      }

      p {
        font-size: 16px;
      }

      span {
        display: block;
        text-align: center;
        font-size: 18px;
      }
    }

    @media (max-width: 510px) {
      justify-content: center;
    }
  }
}
.testimonials {
  margin-top: 80px;

  .testi-item {
    display: flex;
    align-items: flex-start;

    img {
      width: 50px;
    }
    p {
      font-size: 20px;
      margin: 10px;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
  .slider-testi {
    width: 1000px;
    margin: 0 auto;
  }

  @media (max-width: 980px) {
    .slider-testi {
      width: 100%;
    }
  }
}

.react-multi-carousel-dot button {
  background: var(--brend-color);
  border: none !important;
  width: 15px !important;
  height: 15px !important;
}
.react-multi-carousel-item {
  padding: 20px 0;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 30px 20px;
  display: flex;
  bottom: 0 !important;
  left: 0 !important;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }

  .text-icon {
    font-size: 40px;
    color: var(--gray-text-color);
  }

  @media (max-width: 700px) {
    p {
      font-size: 20px;
      text-align: start;
    }
    .text-icon {
      font-size: 30px;
    }
  }
}

.areas-text {
  p {
    color: var(--dark-blue-color);
    font-size: 20px;
  }
}

.areas-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;

  @media (max-width: 680px) {
    justify-content: center;
  }

  div {
    width: 400px;

    img {
      width: 100%;
      height: auto;
    }
    p {
      margin-top: 10px;
    }
  }

  @media (max-width: 1400px) {
    div {
      width: 350px;
    }
  }
}

.video {
  margin: 50px 0;

  p {
    color: var(--dark-blue-color);
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding: 0 15px;
  }

  video {
    width: 800px;
    margin: 0 auto;
  }

  @media (max-width: 630px) {
    video {
      width: 100%;
    }
  }
}
