.banner-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  background-position: 20%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  position: relative;
}

.bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.text-banner {
  width: 50%;
  padding-left: 100px;
  margin-top: 100px;
  line-height: 50px;
  z-index: 9;

  h2 {
    color: #fff !important;
    font-size: 80px;
    font-weight: 700;
  }

  .line {
    background: var(--brend-color);
    height: 5px;
    width: 500px;
  }

  a {
    width: 100% !important;
  }

  p {
    font-size: 25px;
    color: #fff !important;
    font-weight: 600;
    line-height: 33px;
    margin-top: 20px;
  }
}

.links-banner {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: 100%;

  @media (max-width: 430px) {
    flex-direction: column;
    line-height: 30px;
    margin-left: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }
}

.banner1 {
  background-image: url('../images/Home/banner1.png');
}

.banner2 {
  background-image: url('../images/Home/banner2.png');
  background-position: 90%;
}

.banner3 {
  background-image: url('../images/Home/banner3.png');
}

.banner4 {
  background-image: url('../images/Home/banner4.png');
}
@media (max-width: 1000px) {
  .banner-home {
    .text-banner {
      width: 100% !important;
      padding: 0 20px;

      h2 {
        font-size: 60px;
      }
      .line {
        width: 300px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
      }
    }

    .links-banner {
      a {
        font-size: 18px;
      }
      svg {
        font-size: 20px !important;
      }
    }
  }
}

@media (max-width: 430px) {
  .banner-home {
    .text-banner {
      h2 {
        font-size: 45px;
      }
      .line {
        width: 250px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .banner1 {
    .text-banner {
      width: 60%;
    }
  }
}

.welcome {
  margin: 30px auto 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;

    p {
      color: var(--brend-color) !important;
      font-weight: bold;
      font-size: 40px;
      margin: 0;
      display: inline-flex;
    }
  }

  p {
    margin-bottom: 30px;
  }

  a {
    background: var(--dark-blue-color);
    text-decoration: none;
    color: #fff;
    padding: 10px 50px;
    border-radius: 100px;
  }
}

.book-btn {
  background: var(--brend-color);
  text-decoration: none;
  color: #fff !important;
  font-weight: 500;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
  transition: .5s;
}

.blue {
  color: var(--dark-blue-color);

  img {
    width: 18px;
  }
}

.our-home {
  margin: 50px auto 50px auto;
  position: relative;

  > .services-icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    width: 100%;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

    a {
      text-decoration: none;
      div {
        height: 280px;
      }
      p {
        color: #000;
      }
    }

    @media (max-width: 560px) {
      div {
        width: 100%;
      }
    }

    @media (max-width: 520px) {
      width: 250px;
      margin: 50px auto;
    }

    div {
      background: var(--light-blue-color);
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      width: 100%;
      height: 310px;

      &:hover {
        img {
          transform: scale(1.2);
        }
      }

      img {
        width: 80px;
        transition: .5s;
      }

      h3 {
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .icon-values {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
    margin: 50px 0;

    > div {
      border-radius: 20px;
      padding: 5px 20px;
      background: var(--light-blue-color);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    img {
      width: 150px;
      transition: .5s;
    }

    @media (max-width: 1160px) {
      grid-template-columns: auto auto auto;
    }
    @media (max-width: 730px) {
      grid-template-columns: auto auto;
    }
    @media (max-width: 500px) {
      grid-template-columns: auto;

      > div {
        width: 260px;
        margin: 0 auto;
      }
    }
  }
}

.facts-box {
  .facts {
    h2 {
      font-weight: 700;
      text-align: center;
      margin-bottom: 50px;
    }

    a {
      background: var(--dark-blue-color);
      text-decoration: none;
      color: #fff;
      padding: 10px 50px;
      border-radius: 100px;
    }

    .facts-icon {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
      margin-bottom: 30px;
      margin-top: 50px;
      gap: 10px;

      @media (max-width: 850px) {
        grid-template-columns: auto auto;
      }

      .icon-item {
        display: flex;
        align-items: center;
        width: 480px;

        @media (max-width: 1500px) {
          width: 100%;
        }

        img {
          width: 180px;

          @media (max-width: 600px) {
            width: 70px;
          }
        }

        .text {
          display: flex;
          flex-direction: column;

          .word {
            font-size: 18px;
            padding-left: 5px;

            text-transform: uppercase;

            @media (max-width: 600px) {
              font-size: 9px;
              font-weight: 500;
            }
          }

          .number {
            font-size: 40px;
            font-weight: bold;
            width: 63px;
            line-height: 60px;
            transition: 1s ease-in-out;

            @media (max-width: 600px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .row-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }

  .row-logos.reverse {
    flex-direction: row-reverse;
  }

  .row-logos.no-reverse img {
    position: relative;
    left: -230px;
    width: 400px !important;
  }

  .row-logos.no-reverse p {
    position: absolute;
    right: 10px;
    width: 250px;
  }

  .row-logos.reverse img {
    position: relative;
    right: -455px;
    width: 400px !important;
  }
  .row-logos.reverse p {
    position: absolute;
    left: 50px;
    width: 250px;
  }

  .row-logos .logos {
    margin-bottom: 10px;
  }

  .welcome {
    margin: 50px auto;

    h1 {
      margin-bottom: 50px;
      font-size: 20px;
      padding: 0 15px;
    }
  }
}
@media (max-width: 650px) {
  .row-logos.reverse img {
    position: relative;
    right: -325px;
    width: 400px !important;
  }

  .row-logos.no-reverse img {
    position: relative;
    left: -230px;
    width: 400px !important;
  }
}

@media (max-width: 550px) {
  .row-logos.reverse img {
    position: relative;
    right: -220px;
    width: 400px !important;
  }
  .row-logos.reverse p {
    position: absolute;
    left: 20px;
    width: 270px;
  }

  .row-logos.no-reverse img {
    position: relative;
    left: -215px;
    width: 400px !important;
  }

  .row-logos.no-reverse p {
    position: absolute;
    right: 10px;
    width: 150px;
  }
}
@media (max-width: 500px) {
  .row-logos.reverse img {
    position: relative;
    right: -270px;
    width: 400px !important;
  }
  .row-logos.reverse p {
    position: absolute;
    left: 20px;
    width: 250px;
  }
}

@media (max-width: 420px) {
  .row-logos.reverse img {
    position: relative;
    right: -200px;
    width: 400px !important;
  }
  .row-logos.reverse p {
    position: absolute;
    left: 20px;
    width: 190px;
  }
}

.testimonials {
  .testi-item {
    display: flex;
    align-items: flex-start;
    text-align: justify;
    padding-left: 40px;

    img {
      width: 150px;
      position: absolute;
      left: 0;
      top: -6px;
    }
    p {
      font-size: 20px;
      margin: 30px 10px;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }

    span {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .slider-testi {
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 980px) {
    .slider-testi {
      width: 100%;
    }
  }
}

.react-multi-carousel-dot button {
  background: var(--brend-color);
  border: none !important;
  width: 15px !important;
  height: 15px !important;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  height: 80px;
  padding: 30px 20px;
  display: flex;
  bottom: 0 !important;
  left: 0 !important;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }

  .text-icon {
    font-size: 40px;
    color: var(--gray-text-color);
  }

  @media (max-width: 700px) {
    p {
      font-size: 16px;
      text-align: start;
    }
    .text-icon {
      font-size: 30px;
    }
  }
}

.areas {
  margin-top: 50px;
}

.areas-icon {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  gap: 20px;

  @media (max-width: 850px) {
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 550px) {
    grid-template-columns: auto auto;
  }

  img {
    width: 100%;
  }
}

.video {
  margin: 100px auto;

  .video-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 20px;
    height: 430px;
    justify-content: space-between;
    overflow: hidden;

    @media (max-width: 1000px) {
      height: 600px;
      .video-card {
        grid-template-rows: 1fr 1fr;
      }

      .text-card {
        padding-bottom: 0 !important;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }

    .text-card {
      padding: 30px;
      background: var(--light-blue-color);

      p {
        text-align: start;
        padding: 0;
        font-weight: normal;
        color: #000;
      }
    }
  }

  p {
    color: #000;
    font-weight: 500;
  }

  @media (max-width: 850px) {
    iframe {
      width: 100%;
    }

    .text-icon {
      display: block;
    }
  }
}

.brochure {
  background: var(--light-blue-color);
  padding: 30px;

  .brochure-subtitle {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 20px;
    font-weight: 600;

    span {
      color: var(--brend-color);
    }

    p {
      font-size: 18px;
    }

    @media (max-width: 850px) {
      font-size: 30px;
      line-height: 30px;
    }
  }
}

.ofHc {
  color: var(--brend-color) !important;
}

.one {
  color: #000;
}

.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}

// Navigator
.guarantee {
  display: flex;
  align-items: center;
  gap: 30px;

  img {
    width: 45%;
  }
}
.framework li {
  font-size: 18px;

  @media (max-width: 1000px) {
    font-size: 16px;
  }
}

@media (max-width: 840px) {
  .guarantee {
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
  }
}

#blue {
  color: var(--dark-blue-color) !important;
  font-size: inherit;
}

#wel {
  font-family: "Calligraphy";
  text-transform: none;
  color: #000 !important;

  @media (max-width: 768px) {
    width: 240px;
  }
}
