.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: var(--light-blue-color);
}
.logo img {
  width: 200px;
}
.logo-mobile-menu {
  margin: 0 30px 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-mobile-menu img {
  width: 150px;
}

nav > ul {
  display: flex;
  padding-inline-start: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav ul li a,
nav ul li span {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: var(--gray-text-color);
  cursor: pointer;
  padding: 10px 20px;
  transition: .3s;
}

.menu nav ul {
  display: flex;
  align-items: center;
}

nav ul li a:hover,
nav ul li span:hover {
  background: var(--brend-color);
  color: var(--light-blue-color) !important;
}

nav ul li a.active {
  background: var(--brend-color);
  color: var(--light-blue-color) !important;
}

.about-us,
.com-ser {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li ol.menu-down {
  display: none;
  width: max-content;
  position: absolute;
  left: 10px;
  background: var(--light-blue-color);
  z-index: 99999999;
  animation: menu_down 1s;
  padding-left: 0;
}

.search ul ol {
  background: #fff !important;
  width: max-content;
  position: absolute;
  animation: menu_down 1s;
  padding: 10px 20px;
  box-shadow: 0px 0px 29px -11px rgba(0, 0, 0, 0.5);
}

.search ul ol li a {
  text-decoration: none;
  color: #000;
  margin-bottom: 50px;
}

@keyframes menu_down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul li ol.menu-down li a {
  color: var(--gray-text-color);
  margin: 0;
  padding: 15px 20px;
  text-transform: capitalize !important;
  display: flex;
  width: 100%;
}

ul li ol.menu-down li a:hover {
  background: var(--brend-color);
  color: var(--light-blue-color) !important;
}
.search {
  display: flex;
  align-items: center;
}

.search ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.search ul li {
  list-style: none;
}

.search input {
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 29px -11px rgba(0, 0, 0, 0.5);
  border: none;
}

.search input::placeholder {
  color: #939393;
  font-size: 14px;
}

.burger-icon {
  font-size: 40px;
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

.line1 {
  height: 2px;
  width: 35px;
  background: #939393;
}

.line2 {
  height: 2px;
  width: 25px;
  margin: 10px 0;
  background: #939393;
}
.line3 {
  height: 2px;
  width: 15px;
  background: #939393;
}



@media (max-width: 1600px) {
  .navbar-box {
    width: 100%;
  }
}
@media (min-width: 1178px) {
  ul li:hover ol.menu-down {
    display: block !important;
    box-shadow: 0px 0px 29px -11px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .showMenu {
    display: none;
  }
  .close-menu {
    display: none;
  }
  .menu-background {
    display: none;
  }
  .logo-mobile-menu {
    display: none;
  }
  .internet-mob {
    display: none;
  }
  .search-mobile {
    display: none;
  }
  .email-mobile {
    display: none;
  }
  .lng-change {
    display: none;
  }
}

@media (max-width: 1178px) {
  .menu nav ul {
    background: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 30px 0 0 0;
    transition: .5s all ease-in-out;
    z-index: 9;
    overflow-x: auto;
  }
  .menu nav ul.active {
    right: 0;
    height: 100%;
  }

  .menu nav ul ol {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu nav ul ol li a {
    text-transform: capitalize;
  }

.logo img {
  width: 120px;
}

  ul li ol.active {
    display: block !important;
    animation: menu_down 1s;
  }

  @keyframes menu_down {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .internet-mob {
    margin: 100px 20px;
  }
  .menu-background {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .8s;
    z-index: 8;
    display: block;
  }
  .menu-background.active {
    width: 100%;
    transition: .8s;
  }

  .about-us,
  .com-ser {
    justify-content: space-between;
  }

  .menu nav ul a,
  .menu nav ul span {
    font-size: 20px;
    display: flex;
  }

  .menu nav ul li {
    margin-bottom: 20px;
    width: 100%;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .close-menu {
    font-size: 30px;
    color: var(--gray-text-color);
    cursor: pointer;
  }

  .search > input {
    display: none;
  }

  .search-icon {
    font-size: 20px;
    color: #939393;
    cursor: pointer;
  }

  .email-icon {
    font-size: 20px;
    color: #939393;
  }

  .email-mobile a{
    margin: 0 20px;
  }

  .lng-change {
    font-size: 20px;
    color: #939393;
    cursor: pointer;
  }
}

@media (max-width: 790px) {
  .menu nav ul {
    width: 100%;
  }
}

.bayleyssvg {
  display: block;
  margin: 80px auto;
  width: 800px;
  margin-bottom: 15px;
}

#bayleys {
  fill: #ffffff;
  stroke: #ffffff;
}

#bayleys {
  stroke-width: 0;
  animation: logo 5s linear infinite;
}

@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1200;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}
