.text-members {
  .member {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 80px;
    position: relative;
    padding: 10px;

    .team-row {
      position: relative;
    }

    .bg-member-img {
      width: 400px;
      background: var(--light-orange-color);
      border-radius: 0 30% 30% 0;
      position: absolute;
      padding: 100px 0;
      top: 0;
      bottom: 0;
      left: -170px;
    }

    .img-team {
      img {
        width: 200px;
        margin-right: 35px;
      }
    }
    .name-team {
      color: var(--brend-color);
      font-size: 25px;
    }
    .position-team {
      font-size: 25px;
    }
  }

  @media (max-width: 900px) {
    .member {
      flex-direction: column;
    }
  }

  .member-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    a img {
      width: 40px;
    }
  }
}

.talk-video {
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    color: var(--brend-color) !important;
    font-weight: bold;
    text-align: center;

    span {
      color: gray !important;
    }
  }
}

.transparency {
  margin-top: 100px;
  position: relative;

  .transparency-img {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;

    div {
      margin-bottom: 30px;
      div {
        margin-top: 20px;
      }
    }

    img {
      width: 300px;
    }

    @media (max-width: 900px) {
      img {
        width: 270px;
      }

      a {
        font-size: 13px;
        padding: 15px 30px;
      }
    }

    @media (max-width: 800px) {
      grid-template-columns: auto auto;
    }
    @media (max-width: 490px) {
      grid-template-columns: auto;
    }
  }
}
