.text-members {
  .member {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 80px;

    div {
      img {
        width: 300px;
      }
    }
  }

  @media (max-width: 900px) {
    .member {
      flex-direction: column;

      .member-img {
        width: 400px;
        margin: 0 auto;

        @media (max-width: 400px) {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .member-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 30px;
      margin-left: 40px;
    }
    a {
      font-size: 18px;
      text-decoration: none;
      img {
        width: 30px;
      }
    }

    svg {
      font-size: 30px;
    }

    @media (max-width: 500px) {
      a {
        font-size: 13px;
        display: block;

        img {
          width: 20px;
        }
      }
      svg {
        font-size: 20px;
      }
    }
  }
}

.structure {
  margin: 80px 0;
  img {
    width: 100%;
  }
}

.quote {
  display: flex;
  align-items: center;

  :nth-child(1) {
    width: 20%;
  }
  img {
    width: 80%;
  }
}
