.icon-core.references {
  :nth-child(1) {
    color: var(--dark-blue-color);
    background: var(--light-blue-color);

    &:hover {
      background: var(--dark-blue-color);
      color: #fff;
    }
  }

  :nth-child(2) {
    color: var(--green-color);
    background: var(--light-green-color);

    &:hover {
      background: var(--green-color);
      color: #fff;
    }
  }

  :nth-child(3) {
    color: var(--brend-color);
    background: var(--light-orange-color);

    &:hover {
      background: var(--brend-color);
      color: #fff;
    }
  }

  :nth-child(4) {
    color: var(--green-color);
    background: var(--light-green-color);

    &:hover {
      background: var(--green-color);
      color: #fff;
    }
  }

  :nth-child(6) {
    color: var(--dark-blue-color);
    background: var(--light-blue-color);

    &:hover {
      background: var(--dark-blue-color);
      color: #fff;
    }
  }
}

.references-container {
  margin-top: 100px;

  .reference {
    padding: 50px 0 50px 60px;
    position: relative;

    @media (max-width: 750px) {
      padding-left: 50px;
      padding-right: 5px;
    }

    > div {
      display: flex;
      gap: 100px;
      padding-left: 20px;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 850px) {
        gap: 50px;
        padding-left: 0;
      }

      @media (max-width: 1000px) {
        p {
          font-size: 16px !important;
        }
      }

      @media (max-width: 850px) {
        flex-direction: column;

        .text {
          width: 100%;
        }
      }

      h3 {
        text-align: start;
        margin-bottom: 20px;
        line-height: 30px;
      }

      p {
        font-size: 20px;
        margin-bottom: 35px;
      }
    }

    .text {
      width: 600px;
    }

    .ref-img {
      img {
        width: 600px;

        @media (max-width: 850px) {
          width: 100% !important;
        }

        @media (max-width: 1000px) {
          width: 400px;
        }
      }
    }
  }
}
.text-stroke {
  font-size: 22px;
  font-weight: 900;
  opacity: 0.5;
  color: transparent !important;
  -webkit-text-stroke: 1px var(--dark-blue-color);
}

.green {
  -webkit-text-stroke: 1px var(--green-color);
}
.orange {
  -webkit-text-stroke: 1px var(--brend-color);
}

.reverse {
  flex-direction: row-reverse;
}

.reference-vertical {
  left: -100px;

  h4 {
    font-size: 45px;
    opacity: 0.3;

    @media (max-width: 750px) {
      font-size: 40px;
    }
  }
  @media (max-width: 750px) {
    left: -100px;
  }
}

.insights {
  margin-top: 100px;
  width: 100%;

  .icon-since {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    span {
      font-size: 18px;
    }
  }
}

.statistics {
  display: grid;
  margin-top: 100px;
  gap: 250px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  @media (max-width: 1340px) {
    gap: 100px;
  }

  @media (max-width: 1035px) {
    gap: 50px;
  }

  @media (max-width: 810px) {
    grid-template-columns: auto auto;
    width: 100%;

    .per-year {
      width: 100% !important;
    }

    .distribution {
      width: 100% !important;
    }
  }

  @media (max-width: 580px) {
    grid-template-columns: auto;
  }

  span {
    font-size: 25px;
    margin-bottom: 20px;

    @media (max-width: 900px) {
      font-size: 20px;
    }
  }

  img {
    width: 100%;
  }

  .distribution {
    width: 320px;
  }
  .per-year {
    width: 470px;
  }

  .months {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;

    div {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      background: var(--light-blue-color);
      height: 200px;
      border-radius: 50%;

      p {
        font-size: 40px;
        margin: 0;
        line-height: 40px;

        b {
          font-size: 70px;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 800px;
  margin: 0 auto;
  transition: all 3s ease;
  margin-top: 15%;

  img {
    width: 100%;
  }

  @media (max-width: 810px) {
    width: 100%;
    margin-top: 50%;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 3s ease;
}

.modal.open {
  display: block;
  animation: identifier 1s;
}

@keyframes identifier {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
