.searchResult {
  padding-inline-start: 0;
  margin-top: 200px;
  padding: 0 15px;

  img {
    width: 150px;
  }
}

.searchResult li {
  list-style: none;

  p {
    font-size: 20px;
  }
}

.text-result {
  font-weight: 100 !important;
}

.images {
  text-align: center;
  img {
    width: 20%;
    padding: 20px;
  }

  @media (max-width: 800px) {
    img {
      width: 50%;
    }
  }
}

.no-result {
  margin-top: 50px;
  font-size: 40px;
  font-weight: normal;
}
