.custom-select {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  display: block !important;
  width: 150px;
  transition: 1s;
  font-size: 14px;

  .select-selected {
    display: flex;
    justify-content: space-between;

    span {
      color: #fff !important;
    }
  }
}

.select-items {
  display: block !important;
  background: var(--brend-color);
  font-size: 14px;
  width: 100%;
  position: absolute;
  cursor: pointer;

  .select-item {
    margin-top: 5px;
    padding: 5px;
  }
}
