.core-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

  div {
    text-align: center;
    width: 600px;
    margin-bottom: 150px;

    .flip-card-inner {
      transition: transform 0.6s;
      transform-style: preserve-3d;
      margin-bottom: 320px;
    }

    &:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      margin-bottom: 0 !important;
    }

    .flip-card-back {
      transform: rotateY(180deg);
    }

    img {
      width: 100%;
    }

    p {
      color: #fff !important;
      background: var(--brend-color);
      padding: 8px 40px;
      border-radius: 100px;
      width: max-content;
      transform: translateY(37px);
      cursor: pointer;
    }
  }
}
.quote-box {
  text-align: center;
}
.quote {
  width: 80%;
  margin-top: 50px;
}

@media (max-width: 660px) {
  .core-item {
    div {
      width: 400px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 660px) {
  .core-item {
    flex-direction: column;

    div {
      .flip-card-inner {
        margin-bottom: 200px;
      }
    }
  }

  .core2 {
    margin-top: 50px;
  }
}

@media (max-width: 870px) {
  .core-item {
    width: 100%;
  }
}
