.box-img,
.slider-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 143px;

  div {
    overflow: hidden;
    img {
      transition: .6s;
      &:hover {
        transform: scale(1.07);
      }
    }
  }

  :nth-child(1) {
    margin-left: 0;
  }

  :nth-child(3) {
    margin-right: 0;
  }

  .img-text {
    background: rgb(244, 246, 252, 0.8);
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    height: 50px;

    p {
      margin: 0;
      font-size: 18px !important;
      font-weight: bold;
    }
  }
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  color: var(--dark-blue-color);
  background: rgb(244, 246, 252, 0.8);
  width: 100%;
  height: 80px;
  display: none;
  padding: 30px 20px;
  display: flex;
  bottom: 0 !important;
  left: 0 !important;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-blue-color) !important;

  p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }

  @media (max-width: 700px) {
    p {
      font-size: 20px;
      text-align: start;
    }
  }
}

@media (min-width: 1600px) {
  .box-img {
    > div {
      width: 100%;
      margin: 0 2px;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.text-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;

  img {
    width: 200px;
  }

  @media (max-width: 690px) {
    display: block;
    text-align: center;

    p {
      margin-top: 30px;
    }

    img {
      width: 200px;
    }
  }
}

@media (max-width: 1600px) {
  .box-img {
    margin-top: 134px;
    width: 100%;

    > div {
      width: 100%;
      margin: 10px;
      position: relative;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .img-text {
    p {
      margin: 0;
      font-size: 20px !important;
      font-weight: bold;
    }
  }
}

@media (min-width: 1000px) {
  .slider-main {
    display: none;
  }
}
@media (max-width: 1000px) {
  .box-img {
    display: none !important;
  }
  .slider-main {
    img {
      height: auto;
    }
  }
}

.video-envi {
  text-align: center;
  margin: 100px 0;

  p {
    color: #0000ff;
  }

  @media (min-width: 1250px) {
    margin-top: 0 !important;
  }
}

// Values

.row-img-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  margin-bottom: 70px;

  @media (max-width: 1000px) {
    gap: 150px;
  }

  @media (max-width: 740px) {
    flex-direction: column;
  }

  .row-img {
    position: relative;
    img {
      width: 600px;

      @media (max-width: 1000px) {
        width: 300px;
      }
    }

    > div {
      position: absolute;
      right: -100px;
      bottom: -50px;

      div {
        width: 200px;
        padding: 20px 0;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
        background: var(--brend-color);
      }
    }
  }
}

.our-social {
  width: 100%;
  margin-bottom: 50px;
}

.row2,
.row4 {
  flex-direction: row-reverse;

  @media (max-width: 740px) {
    flex-direction: column !important;
  }

  .row-img {
    > div {
      left: -100px;
    }
  }
}

.row2,
.row4 {
  .row-img {
    > div {
      position: relative;
      div {
        position: absolute;
        left: 0px;
        bottom: 80px;

        &:nth-of-type(1) {
          z-index: 9999;
        }

        &:nth-of-type(2) {
          animation: rotate infinite;
          animation-duration: 3s;
          animation-delay: 5s;
        }
      }
    }
  }
}

.row4 {
  flex-direction: row-reverse;
}

.rotatingText-adjective {
  position: absolute;
  right: 0;
  bottom: 80px;
}

.rotatingText-adjective:nth-of-type(1) {
  z-index: 9999;
}

.rotatingText-adjective:nth-of-type(2) {
  animation: rotate infinite;
  animation-duration: 3s;
  animation-delay: 5s;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 9999;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
    z-index: 9999;
  }
}

// Values end

.references {
  li {
    font-size: 13px;
  }

  p {
    font-size: 13px;
  }
}

ol {
  padding-inline-start: 0;
}

.box-pharma {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px 0;

  div {
    width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;

    img {
      width: 200px;
      display: flex;
      transition: .8s;

      &:hover {
        width: 220px;
      }
    }
  }
}

@media (max-width: 1178px) {
  .box-img,
  .slider-main {
    margin-top: 70px;
  }
}
