.story-line {
  position: relative;
  margin-top: 65px;

  .line {
    width: 100%;
    height: 20px;
    background: var(--light-blue-color);
    position: absolute;
    top: 250px;
    z-index: -1;

    @media (max-width: 1000px) {
      transform: translateX(-50%) rotate(90deg);
      top: 730px;
      bottom: 0;
      width: 2000px;
      left: 50%;
      margin: 0 auto;
    }
  }

  .item {
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    margin-top: 50px;

    .story-line-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 300px !important;
      transition: all 0.3s ease-in-out;

      &:hover {
        .img {
          border: 2px solid var(--brend-color);
        }

        .text.up-line {
          border-top: 2px solid var(--brend-color);
        }

        .text.bottom-line {
          border-bottom: 2px solid var(--brend-color);
        }
      }

      .text {
        height: 200px;
        padding: 10px;
        transition: .5s;

        &.up-line {
          border-top: 2px solid var(--light-blue-color);
        }
        &.bottom-line {
          border-bottom: 2px solid var(--light-blue-color);
          display: flex;
          align-items: flex-end;
        }
      }

      .img {
        height: 200px;
        padding: 10px;
        border: 2px solid var(--light-blue-color);
        transition: .5s;
        background: #fff;
        z-index: 9;
      }

      img {
        width: 100%;
      }

      span {
        display: flex;
        justify-content: center;
        color: var(--brend-color) !important;
        font-weight: bold;
      }

      p {
        font-size: 13px;
        text-align: justify;
        margin: 0;
      }

      .round {
        width: 30px;
        height: 30px;
        background: var(--brend-color);
        border-radius: 50%;
      }

      .line-ver {
        width: 2px;
        height: 40px;
        background: var(--brend-color);
      }
    }

    @media (max-width: 1000px) {
      display: block;

      .story-line-item {
        flex-direction: row;
        width: 100% !important;
        justify-content: space-around;

        .img {
          width: 38%;
          height: 100%;
        }
        .text {
          width: 38%;
          height: 100%;
        }

        .line-ver {
          transform: rotate(90deg);
          height: 35px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .line-ver {
    height: 26px !important;
  }
}
