.who-icon {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  gap: 50px;

  div img {
    width: 100%;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
  }

  @media (max-width: 810px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.history {
  width: 100%;
  margin: 80px 0;

  h2 {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .our-history {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    padding: 30px;
    background: var(--light-orange-color);

    .text {
      text-align: justify;
      width: 100%;

      @media (max-width: 1200px) {
        width: 100%;
      }
    }

    img {
      width: 50%;

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    @media (max-width: 1000px) {
      display: block;

      img {
        width: 100%;
      }
    }
  }
}

.credo {
  margin-bottom: 100px;
  text-align: center;

  p {
    text-align: justify;
    display: flex;
    justify-content: center;
  }
}

.basic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;

  h2 {
    margin-top: 0;
  }

  div ul {
    padding-inline-start: 0;

    li {
      list-style: none;
    }
  }

  img {
    width: 40%;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}

.credo-testimonial {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 90px;
  padding: 20px;
  margin-bottom: 100px;
  background: var(--light-orange-color);
  border-radius: 20px;

  div {
    img {
      width: 100%;
    }
  }

  div {
    p {
      font-size: 20px;
      position: relative;
      text-align: justify;
      margin-bottom: 40px;

      img {
        width: 90px;
        position: absolute;
        left: -95px;
      }
    }

    a {
      float: right;
    }
  }

  @media (max-width: 1200px) {
    div {
      p {
        font-size: 18px;

        img {
          width: 70px;
          left: -75px;
        }
      }
    }
  }

  @media (max-width: 750px) {
    grid-template-columns: auto;
    padding-bottom: 50px;
    gap: 20px;

    div {
      p {
        padding-left: 65px;
        img {
          margin-left: 60px;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
