.who-icon {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  gap: 50px;

  div img {
    width: 100%;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
  }

  @media (max-width: 810px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.history {
  width: 100%;
  margin: 80px 0;

  h2 {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .our-history {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .text {
      text-align: justify;
      width: 700px;

      @media (max-width: 1200px) {
        width: 100%;
      }
    }

    .img {
      width: 500px;

      @media (max-width: 1200px) {
        width: 1500px;
      }

      img {
        width: 100%;

        @media (max-width: 1200px) {
          width: 50%;
        }

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }

    @media (max-width: 1200px) {
      display: block;

      .img {
        width: 100%;
      }
    }
  }
}

.credo {
  margin-bottom: 100px;
  text-align: center;

  p {
    margin-bottom: 50px;
    text-align: justify;
  }
  a {
    background: var(--dark-blue-color);
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    border-radius: 100px;
  }
}

.basic {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;

  h2 {
    margin-top: 0;
  }

  div ul {
    padding-inline-start: 0;

    li {
      list-style: none;
    }
  }

  img {
    width: 30%;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}
