:root {
  --brend-color: #ffa500;
  --light-blue-color: #f4f6fc;
  --dark-blue-color: #0b41cd;
  --green-color: #4e8351;
  --light-green-color: #f3fadc;
  --light-orange-color: #fff2ee;
  --gray-text-color: #000;
  --font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/font/Montserrat.ttf');
  font-display: swap;
}

@font-face {
  font-family: "Revive80Phatt";
  src: url('./assets/font/Revive80Phatt.ttf');
  font-display: swap;
}

@font-face {
  font-family: "DancingScript";
  src: url('./assets/font/DancingScript.ttf');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body,
.App,
#root {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  font-family: var(--font-family);
  background: #fff;
}

.App {
  opacity: 0;
  &.visible {
    animation: transitionIn 1s forwards;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

.container-main {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.slider {
  width: 2000px;
  margin: 0 auto;
  margin-top: 60px;
}

/* .padding30,
center {
  padding: 0 10px;
} */

.title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
  img {
    width: 28px;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--gray-text-color);
}

p {
  font-size: 18px;
  color: var(--gray-text-color);
}

li {
  color: var(--gray-text-color);
}

.subtitle {
  font-size: 25px;
  font-weight: 300;
}

footer {
  margin-top: auto;
}

.thanks {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 1000px) {
  .title {
    font-size: 25px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 1600px) {
  .container-main,
  #App {
    width: 90%;
  }
}

@media (max-width: 2050px) {
  .slider {
    width: 100%;
  }
}

.policy-logo img {
  width: 100%;
}

@media (max-width: 1130px) {
  .privacy-policy {
    padding: 0 20px;
  }
  iframe {
    width: 100%;
  }
}

.video-yt {
  width: 900px;
  height: 520px;
  @media (max-width: 850px) {
    width: 100%;
    height: 250px;
  }
}

.text-width {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 850px) {
    width: 100%;
  }
}

.img-team {
  transition: transform 0.5s;
  float: left;
  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: 430px) {
    float: none;
    margin-bottom: 20px;
  }
}

.sound-icon {
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  background: var(--light-blue-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: var(--brend-color);
    font-size: 20px;
  }
  &:active {
    background: transparent;
  }
}

.change-lng-desktop {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-inline-start: 0;
  li {
    list-style: none;
    width: max-content;
    font-size: 10px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    img {
      width: 40px;
    }
    &:hover {
      background: var(--light-blue-color);
    }
  }
}

.close-btn-lng {
  background: transparent;
  border: none;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.services-icon-slider {
  background: var(--light-blue-color);
  border-radius: 20px;
  text-align: center;
  padding: 5px 20px;
  width: 290px;
  height: 310px;
}
.services-icon-slider img {
  width: 90px;
  transition: .5s;
}
.services-icon-slider h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.services-icon-slider p {
  font-size: 13px;
}

.slider-services {
  margin-bottom: 0 !important;
}

.slider-services .slider-controls {
  position: static !important;
}

@media (max-width: 1000px) {
  .slider-services {
    flex-direction: column;
  }
  .slider-content {
    transform: translateX(300px) !important;
    margin-top: 50px;
  }
  .slider-controls {
    bottom: -100px !important;
    left: 100px !important;
  }
}
