/* App.css */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: auto;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  cursor: pointer;
  margin: 10px 0;
}

.modal li:hover {
  text-decoration: underline;
}
